html {
  font-size: 18px;
  background:  #b23a48;
  background-size: cover;
}

p, #eachRoundResult {
  color: white;
  font-family: 'Karla', sans-serif;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  color: #fed0bb;
}

#buttons {
  display: flex;
  flex: 1;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}

#container {
  text-align: center;
  margin: auto;
  width: 50%;
}

button {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #461220;
  color: #fed0bb;
  border: 5px solid #461220;
  outline: none;  
}

button:hover {
  border: 5px solid #fed0bb;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  color: #461220;
  background-color: #fed0bb;
}

button i {
  display: block;
  font-size: 4rem;
}

span {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #b23a48;
}

table {
  text-align: center;
  width: 100%;
  table-layout: fixed;
  text-transform: uppercase;
}

#results {
  background-color: #8c2f39;
  border-radius: 5px;
}

th {
  background-color: #8c2f39;
  font-size: 20px;
  border-radius: 5px;
}

td {
  font-size: 15px;
}

